{% extends 'base.html.twig' %}

{% block sidebar %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <ul class="dropdown-menu">
            {% for category in categories %}
                <li>
                    <a href="#">
                        <i class="fa fa-cart"></i>{{ category.name }}
                    </a>
                </li>
                <li class="divider"></li>
                {% endfor %}
            </ul>

            <a class="btn btn-primary">head,ads</a>
        </div>
    </div>

{% endblock %}

